<ion-view view-title="Login">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="unpad" ng-controller="LoginCtrl as login">
        <!-- <button class="button button-block button-positive" ng-click="fbLogin()">
          Login with Facebook
             </button>-->
        <div class="fb-login-button"
             data-scope="user_friends,public_profile,email"
             data-max-rows="1"
             data-size="xlarge"
             data-show-faces="false"
             data-auto-logout-link="true"
        ></div>
        <a ng-href="#" ng-hide="login.authed" ng-click="login.logout()">Logout</a>
        <form ng-hide="!login.authed" name="login.form" ng-submit="login.dologin()">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input name="email" type="text" placeholder="Email"
                   ng-model="login.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input name="password" type="password" placeholder="Password"
                   ng-model="login.password">
          </label>
          <input class="button button-stable button-block" type="submit" value="Submit"></button>
          <div ng-messages="login.$error" style="color:maroon" role="alert">
            <div ng-message="notfound">Email and Password did not match our records</div>
            <div ng-message="server">Error contacting the server</div>
            <div ng-message="email is registered">Email is already registered</div>
            <div ng-message=""></div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
