$red: #ee3854;
$selected-grey: #f8f8f8;

.fitkiq-header {
  background-color: $red;
  .right.friends {
    position: absolute;
    right: 12px;
    background-color: #fff;
    border-radius: 50px;
    width: 35px;
    i {
      font-size: 33px;
      color: #4A454E;
      margin: 0 auto;
    }
    img {
      height: 25px;
      width: 25px;
    }
  }
  .logo {
    width: 80px;
    height: 100%;
  }

}
.buttons {
  .custom-button {
    width: 43%;
    display: inline-block;
    background: #F3F3F4;
    color: #000;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-left: 12px;
    font-size:16px;
  }
}
.active {

  font-weight:bold;

  &.group {
    background: $red;
    color:#fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  }
  &.workout {
    background: $selected-grey;
  }
}
.workout-types {
  .list {
    padding-left: 1em;
    padding-right: 1em;
    padding-top:1em;
    font-weight:bold;
    .item {
      border-right:none;
      border-left:none;
      i {
        display:inline-block;
        width:30px;
        font-size:1.5em;
      }
      &:first-child {
        border-top:none;
      }
      &:last-child {
        border-bottom:none;
      }
    }
  }
}
.submit {
  &.full {
    border: 0;
    background: $red;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-weight:bold;
    margin-top: 1em;
    color: #fff;
    &:disabled {
      background: #F3F3F4;
      color: grey;
      font-weight:normal;

    }
  }
}
.text-center {
  text-align:center;
}
.tab-nav.tabs {
  background-color: #4A454E;
}

.tab-item .icon {
  color:#fff;
}
.tab-item.tab-item-active .icon, .tab-item.active, .tab-item.activated {
  color: #fbd805;

}
span {
  &.tab-title {
    color:#fff;
  }
}
h3 {
  font-size: 5vw;
}
.timing {
  background: $selected-grey;
  padding: 5px 5px 5px 16px;
}
.border-right {
  border-right:1px solid grey;
}
.red {
  color:$red;
}
.trainer-msg {
  padding-left:15px;
}
.trainer-count {
  border-left: 15px solid $selected-grey;
  border-right: 15px solid $selected-grey;
  h2 {
    line-height:48px;
  }
}
.selection {
  i {
  line-height: 54px;
  position: absolute;
  right: 22px;
  }
}

.item-trainer {
  line-height: 50px;
}

.profile-trainer {
  vertical-align: middle;
  border-radius: 50px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.unpad {
  margin-left: -11px;
  margin-right: -11px;
}

// .map-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   margin: auto;
//}
.scroll-content > .scroll {
  height: 100%;
}
map#test {display:block; width:20px; height:200px}
