<ion-view view-title="Choose Location">
  <ion-nav-title>
    <img src="img/Trans-Primary-Logo-01.png" width="100" />
  </ion-nav-title>
  <ion-content class="padding-top map-container">
    <h3 class="text-center">Where are you looking to workout?</h3>
    <div class="row padding-top">
      <div class="padding-left trainer-msg padding-top">
        <input type="checkbox" />Use my home address
      </div>
      <!--<div class="col-10"><i class="ios-arrow-right"></i></div>-->
    </div>
    <div class="row">
      Address: <input ng-model="loc.address">
    </div>
    <ng-map id="test" center="{{ loc.address }}" ></ng-map>
    <button ng-click="loc.submitlocation()" class="submit full">Next</button>
  </ion-content>
</ion-view>
