<ion-view view-title="Dashboard">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          test</b>
        </div>
      </div>
    </div>
    <div class="list card">

      <div class="row">
        <div class="col">.col</div>
        <div class="col col-75">.col.col-75</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">test</div>
      <div class="item item-body">
        <div>
          test
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
