<ion-view view-title="Schedule">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <h3 class="text-center">What kind of workout?</h3>
        <div class="schedule buttons">
            <span class="custom-button active group" ng-class="" ng-click="vm.ChooseType($event)" data="group">Group</span>
            <span class="custom-button group" ng-click="vm.ChooseType($event)" data="solo">Solo</span>
        </div>
        <ion-list class="workout-types">
            <ion-item ng-repeat="workout in vm.workouts" class="workout" ng-click="vm.ChooseWorkout($event)" data="{{workout.id}}">
                <i ng-class="workout.icon"></i>
                {{workout.title}}
            </ion-item>
        </ion-list>

            <button ng-disabled="!vm.isWorkoutSelected" ng-click="vm.SubmitWorkout()" class="submit full">Next</button>
    </ion-content>
</ion-view>
