
<ion-view>
    <ion-nav-title>
        <i class="ion-chevron-left"></i>
        <img src="img/Logo-01.png">
    </ion-nav-title>
    <ion-content class="padding">
        <div class="item item-divider">Friends</div>
        <div class="item item-body">
            <div>
                Joe-Bob
            </div>
        </div>
    </ion-content>
</ion-view>
