<ion-view view-title="Location">
    <ion-nav-title>
        <img src="img/Trans-Primary-Logo-01.png" width="100" />
    </ion-nav-title>
    <!--<ion-nav-view class="bar-assertive">-->
        <!--<ion-nav-back-button></ion-nav-back-button>-->
    <!--</ion-nav-view>-->
    <ion-content class="padding">
        <h3 class="text-center">Where are you looking to workout?</h3>
        <ion-list class="workout-types">
          <ion-item ng-repeat="location in vm.slots" class="location" ng-click="vm.ChooseLocation($event)"
                    data="{{location.id}}">
                {{location.name}}
            </ion-item>
        </ion-list>

        <button ng-disabled="false && !vm.selectedLocation.Value" ng-click="vm.SubmitLocation()" class="submit full">Next</button>
    </ion-content>
</ion-view>
