<ion-view cache-view="false" view-title="Schedule Workout">
    <ion-nav-title>
        <img src="img/Trans-Primary-Logo-01.png" width="100" />
    </ion-nav-title>
    <ion-content class="padding">
        <h3 class="text-center">When are you looking to workout?</h3>

        <div class="list">
            <div class="timing"><b>ASAP:</b> Available within 2 hours</div>
            <div class="row trainer-count padding-top">
                <!--<h2 class="col large">{{TODO: SHOULD BE BOUND TO NUMBER OF TRAINERS RETURNED}}</h2>-->
                <h2 class="col large border-right text-center">3</h2>
                <div class="col-75 padding-left trainer-msg padding-top">{{vm.workout.name}} trainers available in Austin right now </div>
                <div class="col-10 selection"><i class="ion-chevron-right red"></i></div>
                <!--<div class="col-10"><i class="ios-arrow-right"></i></div>-->
            </div>
            <div class="timing">&nbsp;</div>
            <h3>In the Future:</h3>

            <ion-list class="workout-types">
                <ion-item disabled-ng-click="vm.pickDate()">
                    <i class="ion-calendar"></i>
                    <span ng-bind="vm.selected.date"></span>
                    <input ng-model="vm.selected.date" type="date"
                    value="">
                </ion-item>
                <ion-item disabled-ng-click="vm.pickTime()">
                    <i class="ion-clock"></i>
                    <!-- <span ng-bind="vm.selected.date"></span>
                    <input type="time"
                           ng-model="vm.selected.date"
                           placeholder="HH:mm"
                         value="">-->
                </ion-item>
            </ion-list>
        </div>

        <button ng-disabled="!vm.selected.date"
                ng-click="vm.SubmitWorkoutTimes()" class="submit full">Next</button>

    </ion-content>
</ion-view>
