<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="https://use.typekit.net/wds3jch.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- your app's js -->
    <!-- NOTE: SHOULD Concatenate all separate files into one before moving to production -->
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <!-- Shortcut to get datepickers in browser -->
    <script src="js/datepicker/ionic-datepicker.bundle.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/auth/auth.module.js"></script>
    <script src="js/auth/auth.service.js"></script>
    <script src="js/auth/auth.controller.js"></script>
    <script src="js/schedule-controller.js"></script>
    <script src="js/schedule-workout-controller.js"></script>
    <script src="js/workout-location-controller.js"></script>
    <script src="js/workouts/workouts.js"></script>
    <script src="js/trainers/trainers.js"></script>
    <script src="js/trainers/trainers.controller.js"></script>
    <script src="js/location/location.js"></script>
    <script src="js/schedule-map-controller.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/data-service.js"></script>
    <script src="js/services.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="lib/ngmap/ngmap.js"></script>

  </head>
  <body ng-app="fitkiq">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-header-bar class="fitkiq-header">
      <div class="buttons">
        <a href="#/">
          <img class="logo" src="img/Trans-Primary-Logo-01.png" alt="">
        </a>
      </div>
      <div ng-controller="ProfileCtrl as profile" ng-hide="profile.showuser" class="buttons right friends" >
        <a href="#/login">
          <i class="ion-ios-person"></i>
        </a>
      </div>
      <a href="#/login">
        <img ng-controller="ProfileCtrl as profile" class="buttons right friends" ng-hide="!profile.showuser" ng-src="{{profile.user.picture}}" />
      </a>
      <!--<h1 class="title">Title!</h1>-->
      <!--<div class="buttons">-->
        <!--<button class="button">Right Button</button>-->
      <!--</div>-->
    </ion-header-bar>

    <ion-nav-bar class="fitkiq-header">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
