<ion-view view-title="Choose a Trainer">
  <ion-content>
    <ion-list>
      <ion-item class="item-trainer" ng-repeat="t in scope.trainers" ng-click="submit(t.id)">
        <img class="profile-trainer" ng-src={{t.picture}}> {{t.first_name}} {{t.last_name}}
      </ion-item>
    </ion-list>
    <button ng-disabled="true" ng-click="noop()" class="submit full">Next</button>
  </ion-content>
</ion-view>
